<div class="form-popup" *ngIf="isShowed">
<!--  <div class="form-popup" >-->
  <div class="form-popup-container">
    <a class="close" (click)="closePopup()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.64999" x2="13.9564" y2="14.6708" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="13.9236" y1="2.62978" x2="1.90277" y2="14.6506" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </a>

    <div class="form-popup-content" *ngIf="!isSend">
      <div class="popup-title lora-38-blue">{{formPopupContent.title}}</div>
      <div class="form" [formGroup]="popupForm">
        <div class="select" name="select" (click)="selectHeaderClick()"
             *ngIf="formPopupContent.comboBox && formPopupContent.comboBox.active">
          <div class="select-header">
            {{formPopupContent.comboBox.active}}
          </div>
          <div class="select-body" *ngIf="selectBodyOpen">
            <div class="select-item" (click)="selectItemClick(item)"
                 [class.active]="formPopupContent.comboBox.active === item"
                 *ngFor="let item of formPopupContent.comboBox.items">{{item}}</div>
          </div>
        </div>

        <input class="input" type="text" placeholder="Ваше имя" formControlName="name"
               [ngStyle]="{'border-color': popupForm.get('name')?.invalid &&
               (popupForm.get('name')?.dirty || popupForm.get('name')?.touched) ? 'red' : ''}">
        <div *ngIf="popupForm.get('name')?.invalid && (popupForm.get('name')?.dirty || popupForm.get('name')?.touched)">
          <div class="text-danger" *ngIf="popupForm.get('name')?.errors?.['required']  && !popupForm.get('name')?.value">
            Имя обязательно для заполнения
          </div>
          <div class="text-danger" *ngIf="popupForm.get('name')?.errors?.['invalidName'] && popupForm.get('name')?.value">
            Имя должно начинаться с заглавной буквы и содержать только русские буквы и пробелы
          </div>
        </div>

        <input class="input" type="tel" placeholder="Ваш номер телефона"
               mask="+7 (000) 000-00-00" formControlName="phone">

        <button class="button" (click)="sendForm()" [disabled]="popupForm.invalid">
          {{formPopupContent.button.text}}
        </button>

      </div>
    </div>

    <div class="form-popup-success" *ngIf="isSend">
      <div class="popup-title lora-38-blue">Спасибо за вашу заявку!</div>
      <div>Мы свяжемся с вами при первой же возможности.</div>
      <button class="button" (click)="closePopup()">Окей</button>
    </div>
  </div>
</div>

