@import "../../../../assets/styles/variables";

.footer {
  padding: 40px 0 54px 0;
  background-color: $color-light-blue;

  .container {
    font-size: 16px;
    color: $color-dark-blue;

    a {
      text-decoration: none;
      color: $color-dark-blue;
    }

    .footer-row-first {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 40px;

      .footer-links {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: $color-dark-blue;

          &:hover {
            color: $color-blue;
          }
        }
      }
    }

    .footer-row-second {
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 60px;

      .footer-row-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 253px;

        .footer-row-item-title {
          color: $color-blue;
        }

        .footer-row-item-body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .button {
            width: 153px;
            padding: 10px;
            font-size: 12px;
            font-weight: 500;
          }
        }

        &:last-child {
          .footer-row-item-body {
            display: flex;
            gap: 12px;
          }
        }
      }
    }

  .footer-row-rights {
    margin-top: 6px;
    color: $color-blue;
  }
  }
}
