@import "../../../../assets/styles/variables";

.signup {
  padding: 120px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .auth-form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .form-title {
        font-family: "Lora", sans-serif;
        font-weight: 400;
        font-size: 36px;
        color: $text-color-blue;
      }

      .form-body {
        width: 422px;

        .input {
          width: 422px;
          margin-bottom: 5px;
        }

        .rememberMe {
          margin-top: 5px;
          display: flex;
          align-items: baseline;

          input {
            margin: 0;
            padding: 0;
          }

          label {
            width: 398px;
            margin-left: 4px;
            line-height: 130%;
            color: $text-color-dark-blue;
            text-align: justify;

            a {
              text-decoration: underline;
              color: $text-color-blue;
            }
          }
        }
      }

      .form-after {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .button {
          width: 422px;
        }

        a {
          text-decoration: none;
          color: $text-color-blue;
        }
      }
    }

    .page-image {
      margin-right: 26px;
    }

  }
}
