@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";


.signup {
  padding: 120px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .auth-form {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .form-title {
        font-size: 36px;
      }

      .form-body {
        width: 422px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .input {
          width: 422px;
          margin-bottom: 5px;
        }

        .agree {
          margin-top: 5px;
          display: flex;
          align-items: start;
          gap: 10px;

          input {
            margin: 0;
            padding: 0;
            margin-top: 2px;
            width: 14px;
            height: 14px;
            border-radius: 3px;
          }

          label {
            width: 398px;
            margin-left: 4px;
            line-height: 130%;
            color: $color-dark-blue;
            text-align: justify;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 14px;
          }

          a {
            text-decoration: underline;
            color: $color-blue;
          }
        }
      }

      .form-after {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .button {
          width: 422px;
        }

        a {
          text-decoration: none;
          color: $color-blue;
        }
      }
    }

    .page-image {
      margin-right: 26px;
    }

  }
}
