@import "variables";


html, body {
  margin: 0;
  padding: 0;

  background-color: #FFFFFF;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


.container {
  max-width: $container-width;
  margin: 0 auto;
}


.button {
  background: $text-color-blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

.input {
  border: 2px solid $text-color-blue;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  color: $text-color-dark-blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  &::placeholder {
    color: #a8aba7;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}




.blue {
  color: $text-color-blue;
}

.lora-38 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 38px;
}
