@import "variables";

@mixin lora-blue {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  color: $color-blue;
}


@mixin lora-36 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #000000;
}

